tmp/
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml
*.bbl
*.blg
*.ilg
*.idx
*.ind
*.loe
*.loa
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*_tikztemp*
*_temp*
